<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donsdirectory.donsdirlib">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".activities.LoginActivity">
        </activity>
    </application>
</manifest>
